@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
   
}


h1{
    color:  rgb(4, 109, 0);


}
h1#principal{
    background-color: rgb(35, 95, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}



h2{
    color: rgb(73, 109, 71);

}

.basico{
    color: rgb(92, 138, 66);
}


.intermediario{
    color: rgb(158, 153, 78);
}
.avancado{
    color: rgb(141, 64, 64);
}