@charset "UTF-8";

.container{
    display:grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.caixa1{
    background-color: rgba(128, 1, 1, 0.849);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
}

.caixa2{
    background-color: rgba(1, 128, 58, 0.849);
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.caixa3{
    background-color: rgba(24, 1, 128, 0.849);
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
}