@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 80px 40px 1fr 40px / 1fr 150px ;
    gap: 5px;
    
}

.caixa{
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
#topo{
    grid-area: 1 / 1 / 2 / -1;
}

#menu{
    grid-area: 2 / 1 / 3 / -1;
}

#principal{
    grid-area: 3 / 1 / 4 / 2;
}

#secundario{
    grid-area: 3 / 2 / 4 / 3;
}



#rodape{
    grid-area: 4 / 1 / 5 / -1;
}