@charset "UTF-8";

/*Todas as demais mídias*/

/*
Typical Device Breakpoints
Pequenas telas: até 600px
Tablet: 
Desktop:
Grandes telas: 
*/

@media print{ /*IMPRESSÃO*/
    
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-color: black; /*Não funciona para a impressora*/
        }
    
    main{
        width: 90vw;
        border: 2px solid black;
    }

    main h1{
        color: black;
        text-shadow: none;
        font-size: 2em;
    }
    main::after{
        content: "Essa folha foi impressa do Victor Domingos";
        text-decoration: overline;
      
    }
        
    }




    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}




@media screen and (min-width: 768px) and (max-width: 992px){ /*TABLET*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){ /*DESKTOP*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px){ /*TELAS GRANDES*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}