@charset "UTF-8";

.container{
    display:grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.caixa1{
    background-color: rgba(128, 1, 1, 0.849);
    grid-area: 1 / 1 / span 1 / span 4;
}

.caixa2{
    background-color: rgba(1, 128, 58, 0.849);   
    grid-area: 2 / 1 / span 2 / span 2;
}

.caixa3{
    background-color: rgba(24, 1, 128, 0.849);
    grid-area: 2 / 3 / span 2 / span 2;
}